version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - ./public/assets/photos:/app/public/assets/photos # Bind mount for photos
    environment:
      - NODE_ENV=development